*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    min-height:100vh;
    background: linear-gradient(200deg,rgb(131, 106, 75),#5b5096);
    padding:10px;
}
.todo-app{
    width:100%;
    max-width: 540px;
    background-color: #fff;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 10px;
}
.todo-app h2{
    text-align: center;
    margin-bottom: 20px;
    color: #002765;
    display: flex;
}
.todo-app img{
    width:45px;
    margin-left: 10px;
    margin-top: -10px;
    
}
.row{
    align-items: center;
    justify-content: space-between;
    border: 10px solid #ccc; /* Border width and color */
    background: #ccc;
    border-radius: 40px; /* Rounded corners */
    font-size: 16px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    color: #333; /* Text color */
    margin-bottom: 25px;
}   
#input-box{
    font-size: large;
    flex: 1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
    font-weight: 14px;
    
}
.button{
    border: none;
    outline: none;
   padding:16px 50px;
   margin-left: 86px;
   color: #fff;
   background: #ff5945;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
  content: ""; /* Empty content for ::before */
  width: 20px; /* Set width of the bubble */
  height: 20px; /* Set height of the bubble */
  border-radius: 50%; /* Create a circular shape */
  background-size: cover;
  background-position: center;
  background-image: url(unchecked.png);
  display: inline-block; /* Make it inline-block to respect width and height */
  position: absolute; /* Position the bubble absolutely */
  left: 10; /* Position it to the left of the list item */
  top: 12px; /* Center it vertically */
  right: 40px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:10px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #ccc;
}
